{% extends 'base.html' %}
{% block title %}To do app{% endblock %}
{% block is_add %}active{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto;">
            <form action="{% if pk != None %}{% url 'safe_edit' pk %}{% else %}{% url 'submit' %}{% endif %}">
                <div class="form-group">
                    <label for="title">Todo Title</label>
                    <input type="text" class="form-control" id="title" name="title" required
                           {% if title != None %}value="{{ title }}"{% endif %}>
                </div>
                <div class="form-group">
                    <label for="description">Todo Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3"
                              required>{% if description != None %}{{ description }}{% endif %}</textarea>
                </div>
                <div class="form-group">
                  <label for="priority">Todo Priority</label>
                  <select class="form-control" id="priority" name="priority" required>
                    <option value="1" {% if priority == 1 %}selected{% endif %}>1</option>
                    <option value="2" {% if priority == 2 %}selected{% endif %}>2</option>
                    <option value="3" {% if priority == 3 %}selected{% endif %}>3</option>
                    <option value="4" {% if priority == 4 %}selected{% endif %}>4</option>
                    <option value="5" {% if priority == 5 %}selected{% endif %}>5</option>
                  </select>
                </div>


                <button type="submit" class="btn btn-primary" style="margin: 0 auto;display: block;">Save</button>
            </form>
        </div>
    </div>
{% endblock %}